
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
    background-image: url(../Assets/Hero-bg.png); width: 1440px; height: 698px;
    background-repeat: no-repeat;
}
/* common style*/
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: yellowgreen;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;

}
.nav-title{
    font-size: 34px;
    font-weight: 800px;
}
/*banner style*/
.banner{
    margin: 208px 220px;
}
.banner-content{
    text-align: center;
}
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}
/* section style */
.action{
    margin-top: 116px;
    display: flex;
    justify-content: space-around;
    gap: 220px;
}
.action-title{
    padding: 23px 0;
}
.action-head{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-p{
    font-size: 24px;
    font-weight: 400px;
    color: #252432;
}
.action-img{
    border-radius: 48px;
}
/* feedback section */
.user-feedback{
    align-items: center;
    margin-top: 137px;
    
}
.section-title{
    text-align: center;
    margin-bottom: 50px;
}
.feedback-content{
    display: flex;
    gap: 20px;
}
.feedback{
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reviewer-img{
    display: flex;
    gap: 12px;
}
.reviewer-details{
    display: flex;
    flex-direction: column;    
}
/*.feedback-description{
}*/
.feedback h5{
    font-size: 16px;
    font-weight: 800;
    color: #1E1E1E;
}
.reviewer-name{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}
.img{
    border-radius: 50%;
}
/* productive users section */
.heading{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding-top: 50px;
}
.productive-users{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
    align-items: center;
    margin-top: 116px;
    
}
.user{
    display: flex;
    justify-content: space-around;
    padding: 50px 142px;
    font-family: sans-serif;
    gap: 160px;
}
.user-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-description{
    font-size: 20px;
    font-weight: 400px;
    color: #000000;
}
/* Touch sectuion style */
.contact-section{
    display: flex;
    gap: 115px;
}
.contact-left{
    width: 50%;
}
.contact-right{
    padding-top: 75px;
    padding-right: 150px;
    width: 50%;

}
section input[type="email"], section input[type="text"], section textarea{
    border-radius: 10px;
    height: 72px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 0px solid;
}
.contact-title{
    font-size: 97px;
    font-weight: bold;
    padding-top: 200px;
}
.contact-form{
    gap: 19px;
    flex-direction: column;
}
.contact-right level{
    gap: 19px;
}